# {{ ansible_managed }}
server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2; # Listen on IPv6

    ssl_certificate /etc/letsencrypt/live/{{ item.value.server_name }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ item.value.server_name }}/privkey.pem;

    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

    server_name {{ item.value.server_name }};

    client_max_body_size 15m;

    location / {
        proxy_set_header  Host                $host;
        proxy_set_header  X-Real-IP           $remote_addr;
        proxy_set_header  X-Forwarded-For     $proxy_add_x_forwarded_for;
        proxy_set_header  X-Forwarded-Proto   $scheme;
        proxy_redirect    off;
        proxy_pass http://app_server;
    }
}
